@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body_neon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: #050801;
    font-family: 'Copperplate Gothic', sans-serif;
    font-weight: bold;
}
a_neon{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    color: rgb(255, 189, 0);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 15px;

}
a_neon:hover{
    background: #dd62fc;
    color: #dd62fc;
    box-shadow: 0 0 5px #dd62fc,
                0 0 8px #dd62fc,
                0 0 12px #dd62fc,
                0 0 16px #dd62fc;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #dd62fc);
}
a_neon:nth-child(1){
    filter: hue-rotate(270deg);
}
a_neon:nth-child(2){
    filter: hue-rotate(110deg);
}
a_neon span{
    position: absolute;
    display: block;
}
a_neon span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent, #dd62fc);
    animation: animate1 9s linear infinite;

}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a_neon span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #dd62fc);
    animation: animate2 9s linear infinite;
    animation-delay: 0.00s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a_neon span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent, #dd62fc);
    animation: animate3 9s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a_neon span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #dd62fc);
    animation: animate4 9s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}


.navbar.navbar-4 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}

.bruh {
    font-family: "Copperplate Gothic","Copperplate Gothic Light","Oxygen",sans-serif;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 36px;
    color: #000000;
}


html, body {
  margin: 0;
}

.cust_input {
    margin-top: 20px;
}

body {
  background: #f7f7f7;
}
/*contact form*/

.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.93);
    border: 5px solid rgba(255, 255, 255, 0.93);
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, p {
  text-align: center;
}

input, textarea {
  width: 100%;
}