{% extends 'index.html' %}
{% load static %}
{% block content %}
   <style>
        #smiley-circle {
            width: 60%;
            height: 30%;
            border-radius: 50%;
            justify-content: center;
            text-align: center;
            margin: auto;
            display: flex;
            background-image: url({% static 'images/question.png' %});
            background-size: cover;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

    </style>
    <section class="featured-articles-section-dark">
        <div class="wrapper">
            <h7>So Why Did I Make This Website?</h7>
            <div class="cards-container-slim">
                <div class="article-card article-card-alt card-large">


                    <div class="article-card-content">

                        <h6>My father purchased the domain stevenpress.com when I was born in 1996. Until I went through
                            the MS in MIS program at University of Nebraska at Omaha, I did not know anything about
                            programming. Now that I can program, I figured why not put the domain and my skills to use.
                            I use this website as a resume and an informational. I have lived in and out of the Omaha,
                            Nebraska area since 2007. I have lived in Nebraska, Kansas, Florida, Hawaii, Virginia, and
                            Illinois. </h6>
                    </div>
                </div>
                <div class="article-card article-card-alt card-small" onclick='location.href="{% url 'interests' %}";'>
                    <div class="article-card-content">

                        <h4>Personal Interests</h4>
                        <p>Informal</p>
                    </div>
                </div>
                <div class="article-card article-card-alt card-small">
                    <div class="article-card-content">
                            <img id="smiley-circle" width=60% height=60% src="{% static 'images/question.png' %}" alt="">
                    </div>
                </div>

                <br class="clear"/>
            </div>
        </div>
    </section>
    <br class="clear"/>
    <script>
        const circle = document.getElementById('smiley-circle');

        setInterval(function () {
            circle.style.animation = `spin ${60 / 20}s linear infinite`;
        }, 1000);


    </script>
{% endblock %}
{% block y %}
    <div id="container">
        <canvas id="canvas"></canvas>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{% static 'js/3d_script.js' %}"></script>
    </div>
{% endblock %}