{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="form-box">
        <h1>Success!</h1>
        <hr class="empty-form">
        <div class="form-group">
            <svg xmlns="http://www.w3.org/2000/svg" width="15%" height="15%" fill="green"
                 class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="display: block; margin: auto;">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
        </div>
        <div class="form-group">
            <p>Your message has been sent. I will respond as soon as possible</p>
        </div>
    </div>
{% endblock %}

{% block y %}
    <canvas id="canvas"></canvas>
    <link rel='stylesheet' href='https://codepen.io/soju22/pen/PoZLGJj/4aeaa568d7a4f3459bcde0e70b10f35a.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@900&amp;display=swap'>
    <link rel="stylesheet" href="{% static 'css/liquid_style.css' %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js'></script>
    <script src='https://klevron.github.io/codepen/three.js/OrbitControls.110.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.3/chroma.min.js'></script>
    <script src="{% static 'js/liquid_script.js' %}?"></script>


{% endblock %}