{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="form-box" style="border-radius: 4px;">
    <h1>Contact Me</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            {{ form.name.errors }}
            <label style="font-family:'Verdana', sans-serif" for="{{ form.name.id_for_label }}">Name</label>
            {{ form.name }}

        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label style="font-family:'Verdana', sans-serif;" for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.message.errors }}
            <label style="font-family:'Verdana', sans-serif" for="{{ form.message.errors }}">Message</label>
            {{ form.message }}
        </div>
        <div class="form-group">
            <br>
        <input class="custom-btn-fard btn-1" type="submit" value="Submit" />

        </div>
    </form>
</div>




{% endblock %}




{% block y %}
<canvas id="canvas"></canvas>
    <link rel='stylesheet' href='https://codepen.io/soju22/pen/PoZLGJj/4aeaa568d7a4f3459bcde0e70b10f35a.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@900&amp;display=swap'>
    <link rel="stylesheet" href="{% static 'css/liquid_style.css' %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js'></script>
    <script src='https://klevron.github.io/codepen/three.js/OrbitControls.110.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.3/chroma.min.js'></script>
     <script src="{% static 'js/liquid_script.js'%}?"></script>


{% endblock %}

