<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Steven D. Press</title>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/featherlight.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Oxygen:300,400,700"
          rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <script src="{% static 'js/featherlight.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel='stylesheet' href='https://codepen.io/soju22/pen/PoZLGJj/4aeaa568d7a4f3459bcde0e70b10f35a.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@900&amp;display=swap'>
    <link rel="stylesheet" href="{% static 'css/liquid_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/3d_style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'self-destruct-button/dist/style.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/runaway_style.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js'></script>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <script src="{% static 'js/script.js' %}" type="text/javascript" charset="utf-8"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="margin-right: 2rem; display: flex; align-items: center;" class="container-fluid bruh">
        <img src="{% static 'images/image.jpg' %}" alt="" width="80" height="80"> <span style="display: inline-flex"
                                                                                        title="Steve is also fine">Steven D. Press</span>
    </div>
  <div style="max-width: 30%"></div>
    <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav center_my_navbar_RIGHT_NOW">
            <li class="nav-item">
                <a_neon>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a class="nav-link" href="{% url 'home' %}"><b>Home</b></a>
                </a_neon>
            </li>
            <li class="nav-item">
                <a_neon>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a class="nav-link" href="{% url 'about' %}"><b>About</b></a>
                </a_neon>
            </li>
            <li class="nav-item">
                <a_neon>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a class="nav-link" href="{% url 'resume' %}"><b>Resume</b></a>
                </a_neon>
            </li>
            <li class="nav-item">
                <a_neon>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a class="nav-link" href="{% url 'portfolio' %}"><b>Projects</b></a>
                </a_neon>
            </li>
            <li class="nav-item">
                <a_neon>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <a class="nav-link" href="{% url 'contact' %}"><b>Contact</b></a>
                </a_neon>
            </li>
        </ul>
    </div>

</nav>
{% block content %}
{% endblock %}
<footer>
    <div class="wrapper">
        <div class="footer-left">
            <p>Created Using Django, Bootstrap, and Open Source Code by Steven D. Press</p>
        </div>
        <div class="footer-right">
            <p class="footer-links"><a href="https://github.com/popzyyy" target="_blank" rel="noopener noreferrer">Github</a>
                ◢◤ <a href="https://github.com/popzyyy" target="_blank" rel="noopener noreferrer">Social Media</a></p>
        </div>
        <div class="clear"></div>
    </div>
</footer>
{% block y %}
{% endblock %}


</body>
</html>

<script>// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.querySelector(".close");

// Check if the "modalShown" cookie exists
if (!Cookies.get("modalShown")) {
    // If the cookie doesn't exist, open the modal after 2 minutes
    setTimeout(function () {
        modal.style.display = "block";
    }, 120000);

    // Set the "modalShown" cookie to true
    Cookies.set("modalShown", true);
}

// When the user clicks on <span> (x), close the modal
span.onclick = function () {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
    if (event.target === modal) {
        modal.style.display = "none";
    }
}

</script>
