{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section class="masonry-section" style="background-color:#444 "><a name="portfolio"></a>
        <h4 style="color: #fafafa;">Personally, I am Interested in These Things</h4>
        <div class="footer">

                <p style="color: mintcream;">Pretty informal here, but in my free-time, I renovate my 1958 home, collect antiques, and cross-stitch. <br></p>
            </div>
        <div class="wrapper">
            <div class="masonry">
                <div class="item">
                    <img src="{% static 'images/IMG_6599.JPG' %}" onclick='location.href="/static/images/IMG_6599.JPG";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>A Roman Holiday (1889) by Frank Markham Skipworth</h6>


                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/shower_reno.jpeg' %}" onclick='location.href="/static/images/shower_reno.jpeg";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>Bathroom Shower/Tile Install</h6>
                        <p style="display: inline-flex; margin: initial;"><b>Vertical Grouting is hard!</b></p>

                    </div>
                </div>
                 <div class="item">
                    <img src="{% static 'images/lady_justice.jpeg' %}" onclick='location.href="/static/images/lady_justice.jpeg";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>Lady Justice Cross-stitch</h6>
                        <p style="display: inline-flex; margin: initial;"><b>This One Took Me 4 Months</b></p>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/framing.jpg' %}" onclick='location.href="/static/images/framing.jpg";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>Framing the Bathroom Walls</h6>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/tile_install.jpeg' %}" onclick='location.href="/static/images/tile_install.jpeg";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>In-progress Bathroom Floor Tile</h6>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/lady-with-rose-print.jpg' %}" onclick='location.href="/static/images/lady-with-rose-print.jpg";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>Lady with Rose by</h6><h6> <a style="color: rgba(119,119,119,0.82)" onmouseleave="style.color = 'rgba(119,119,119,0.82)'" onmouseover="style.color = '#001ff9'" href='https://pain1666.bigcartel.com/product/lady-with-rose-print'>Diego Delfino</a></h6>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/collection.jpeg' %}" onclick='location.href="/static/images/collection.jpeg";'  alt="There is supposed to be a picture here!" class="article-image">
                    <div class="summary">
                        <h6>Trinkets and Achievements</h6>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="" class="article-image">
                    <div class="summary">
                        <h4>Article Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum rhoncus hendrerit. Cras
                            molestie tristique tempor.</p>
                        <span class="category">Category - Aug 1, 2016</span>
                    </div>
                </div>
                 <div class="item">
                    <img src="" alt="" class="article-image">
                    <div class="summary">
                        <h4>Article Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum rhoncus hendrerit. Cras
                            molestie tristique tempor.</p>
                        <span class="category">Category - Aug 1, 2016</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="clear"></div>
    </section>




{% endblock %}

