{% extends 'index.html' %}
{% load static %}
{% block content %}
    <style>
        #smiley-circle {
            width: 60%;
            height: 30%;
            border-radius: 50%;
            justify-content: center;
            text-align: center;
            margin: auto;
            display: flex;
            background-image: url("../static/images/question.png");
            background-size: cover;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

    </style>


    <section class="masonry-section"><a name="portfolio"></a>
        <h3>Completed Projects</h3>
        <div class="wrapper">
            <div class="masonry">
                <div class="item">
                    <div class="summary">
                        <h4>Simple Retirement Calculator</h4>
                        <div class="container-fluid">
                            <a href="{% static 'files/Simple_Retirement_Calculator.xlsx' %}"
                               download="simple_retirement_calculator.xlsx" style=" color: #0A246A">
                                <img src="{% static 'images/excel.png' %}" alt=""
                                     class="article-image-icon"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="summary">
                        <h4>Loan Amortization</h4>
                        <div class="container-fluid">
                            <a href="{% static 'files/Example_Loan_Amortization.xlsx' %}"
                               download="Example_Loan_Amortization.xlsx" style=" color: #0A246A">
                                <img src="{% static 'images/excel.png' %}" alt=""
                                     class="article-image-icon"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="" class="article-image">
                    <div class="summary">
                        <h4>KITS Inventory System (School Project)</h4>
                        <a href="https://github.com/popzyyy/KITS_Project-master" target="_blank"
                           style=" color: #0A246A">
                            <img src="{% static 'images/GitHub-logo.png' %}" alt=""
                                 class="article-image-icon"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="" class="article-image">
                    <div class="summary">
                        <h4>Marked By Covid</h4>
                        <a href="https://markedbycovid-cat.herokuapp.com/" target="_blank"
                           style=" color: #0A246A">
                            <img src="{% static 'images/logo.png' %}" alt=""
                                 class="article-image-icon"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="" class="article-image">
                    <div class="summary">
                        <h4>Tournament App (School Project)</h4>
                        <a href="https://github.com/popzyyy/21f8210tm3app-main" target="_blank" style=" color: #0A246A">
                            <img src="{% static 'images/GitHub-logo.png' %}" alt=""
                                 class="article-image-icon"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="" class="article-image">
                    <div class="summary">
                        <h4>Magic Tea Shop / APIs (School Project)</h4>
                        <a href="https://github.com/popzyyy/8380s22tm3app-main" target="_blank" style=" color: #0A246A">
                            <img src="{% static 'images/GitHub-logo.png' %}" alt=""
                                 class="article-image-icon"></a>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="" class="article-image-icon">
                    <div class="summary">
                        <a href="{% url 'windows' %}">
                            <img id="smiley-circle" width=50% height=50% src="{% static 'images/question.png' %}" alt=""
                                 class="article-image-icon"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>

    <script>
        const circle = document.getElementById('smiley-circle');

        setInterval(function () {
            circle.style.animation = `spin ${60 / 20}s linear infinite`;
        }, 1000);


    </script>
{% endblock %}