@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Raleway', sans-serif;
  background-color:#000;
}

body, html, #container {
				width:auto;
				height:auto;
				margin:0;
    padding:0;
}

#description {
  position:absolute;
  /*padding:8px;
  border-radius:8px;
  background-color:rgba(255,255,255,0.5);
  margin:8px;
  width:400px;*/
  color:#fff;
}

h1, p {
  margin:5px;
}